header,
footer,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  background-color: black;
  height: 60px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
}
h2 {
  font-size: 1.3em;
}
main {
  flex-wrap: wrap;
  gap: 10px;
  padding: 40px 0;
  max-width: 1280px;
}
.job-bloc {
  background-color: pink;
  flex-shrink: 0;
  width: calc((930px - 30px) / 3);
  height: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contract-country-city {
  display: flex;
  border: solid red 1px;
}
footer {
  background-color: rgb(178, 177, 177);
  height: 40px;
}
.red {
  border: solid red 3px;
}
.green {
  border: solid green 3px;
}
.yellow {
  border: solid yellow 3px;
}
.blue {
  border: solid blue 3px;
}
.pink {
  border: solid pink 3px;
}
